<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconapp_quanlythuchi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconapp_quanlythuchi"
        android:supportsRtl="true"
        android:theme="@style/Theme.QUANLYTHUCHI_5BongHoa">

        <!-- Activity chính khi app mở -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Các Activity khác -->
        <activity android:name=".MainActivity" />
        <activity android:name=".dangky" />
        <activity android:name=".dangnhap" />
        <activity android:name=".ThemGiaoDichActivity" />
        <activity android:name=".ThongKeActivity" />
        <activity android:name=".ViTienActivity" />
        <activity android:name=".TrangChuActivity" />
        <activity android:name=".CaiDatActivity" />
        <activity android:name=".NgonNguActivity" />
        <activity android:name=".QuanLyDanhMucActivity" />
        <activity android:name=".QuenMatKhauActivity" />
        <activity android:name=".NhapOTPActivity" />
        <activity android:name=".DatLaiMatKhauActivity" />
        <activity android:name=".GhiChuActivity" />
        <activity android:name=".TaiKhoanActivity" />
        <activity android:name=".ThemGhiChuActivity" />
        <activity android:name=".ThongBaoActivity" />
        <activity android:name=".CaiDatCanhBao" />
        <activity android:name=".LienKetNganHangActivity" />
        <activity android:name=".XuatDuLieuActivity" />

    </application>

</manifest>
